<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: general-navbar"></div>

    <div class="form-wrapper">
        <div class="add-form-wrapper">

            <form th:action="@{/customer/add}" th:object="${customer}" method="post">
                <h2>Add Customer</h2>

                <div class="input-box">
                    <label for="id">Customer ID</label>
                    <input type="text" id="id" th:field="*{id}" placeholder="ID" required>
                </div>

                <div class="input-box">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}" placeholder="First Name" required>
                </div>

                <div class="input-box">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name" required>
                </div>

                <div class="input-box">
                    <label for="registrationDate">Registration Date</label>
                    <input type="date" id="registrationDate" th:field="*{registrationDate}" required>
                </div>

                <button type="submit" class="form-add-button">Add</button>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>