<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: general-navbar"></div>

    <div class="form-wrapper">
        <div class="edit-form-wrapper">
            <h2>Edit Customer</h2>

            <div class="unchangeable-settings">
                <dl>
                    <dt>Customer ID:</dt>
                    <dd th:text="${customer.id}"></dd>
                    
                    <dt>Registration Date:</dt>
                    <dd th:text="${#dates.format(customer.registrationDate, 'yyyy-MM-dd')}"></dd>
                </dl>
            </div>

            <form th:action="@{/customer/edit}" th:object="${customer}" method="post">

                <div class="input-box">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}" placeholder="First Name" required>
                </div>

                <div class="input-box">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name" required>
                </div>

                <div class="save-delete-button-wrapper">
                    <button type="button" class="delete-btn" th:onclick="'/customer/delete/' + ${customer.id}">Delete</button>

                    <button type="submit" class="save-btn">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>