<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Book</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: general-navbar"></div>

    <div class="wrapper">
        <div class="add-form-wrapper">
            <form th:action="@{/rent-book}" method="post">
                <h2>Rent a Book</h2>
                
                <div class="input-box">
                    <label for="bookId">Book ID</label>
                    <input type="text" id="bookId" th:field="*{bookId}" placeholder="Enter Book ID" required>
                </div>

                <div class="input-box">
                    <label for="customerId">Customer ID</label>
                    <input type="text" id="customerId" th:field="*{customerId}" placeholder="Enter Customer ID"
                        required>
                </div>
                <button type="submit" class="form-add-button">Rent</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>